.search {
  width: 400px;
  height: 40px;

  display: flex;
  align-items: center;
  background: #FCFCFC;
  border-radius: 4px;
  overflow: hidden;

  &:before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0221 15.0818L15.3496 14.726C16.3515 13.6374 16.9639 12.2022 16.964 10.6246L15.0221 15.0818ZM15.0221 15.0818L15.3668 15.421M15.0221 15.0818L15.3668 15.421M15.3668 15.421L19.4976 19.4857C19.4987 19.4868 19.4992 19.4875 19.4994 19.4878L19.4998 19.4884C19.4999 19.4886 19.5 19.4892 19.5 19.4899C19.5 19.4904 19.4999 19.4908 19.4999 19.4911C19.4998 19.4912 19.4998 19.4913 19.4998 19.4914L19.4994 19.492C19.4992 19.4922 19.4987 19.493 19.4976 19.4941L19.4971 19.4945C19.4943 19.4973 19.4898 19.5 19.4819 19.5C19.4741 19.5 19.4696 19.4973 19.4667 19.4945L19.4666 19.4943L15.3195 15.4134L15.0035 15.1024M15.3668 15.421L15.0035 15.1024M15.0035 15.1024L14.6569 15.379M15.0035 15.1024L14.6569 15.379M14.6569 15.379C13.5851 16.2344 12.2209 16.7491 10.7317 16.7491C7.28231 16.7491 4.5 13.9997 4.5 10.6246C4.5 7.24936 7.28231 4.5 10.7317 4.5C14.1811 4.5 16.9634 7.24932 16.964 10.6246L14.6569 15.379ZM4.53577 10.6246C4.53577 14.004 7.31737 16.7299 10.7317 16.7299C14.1461 16.7299 16.9277 14.004 16.9277 10.6246C16.9277 7.24514 14.1461 4.51923 10.7317 4.51923C7.31737 4.51923 4.53577 7.24514 4.53577 10.6246Z' fill='%23969494' stroke='%23969494'/%3E%3C/svg%3E%0A");
    width: 24px;
    height: 24px;
    display: flex;
    margin-left: 16px;
  }

  input {
    border: unset;
    outline: unset;

  }
}